/* default css (smallest mobiles etc) */

#columns {
	clear:both;
}

.column {
	clear:both;
	float:left;
	width:90%;
	margin-left:0px;
	margin-top:1rem;
	margin-right:1rem;
}


.item {
	background-color:blue;
	float:left;
	height:80px;
	margin-bottom:0.8rem;
	background-size:cover;	
	display:table-cell;
	vertical-align:middle;
	border:2px blue solid;
}

.item p {
	font-size:0.7rem;
	text-align:center;
	margin-top:5px;
}
.item p:first-child {
	margin-top:10px;
}

.double {
	width:100%;
	max-width:100%;
}

.single {
	width:47%;
	max-width:47%;
}

.itemRight{
	float:right;
}


.phone-overlay {
	display:none;
	background-color:#f1f1f1;
	height:100%;
	width:100%;
	opacity: 0.6;
	filter: alpha(opacity=60); 
}


@media screen and (min-width:420px){
	.column {
		clear:none;
		width:45%;
	}

	.col3 {
		clear:both;
	}
}

@media screen and (min-width: 600px) {

	.column {
		width:45%;
		clear:none;
	}

}

@media screen and (min-width: 800px){
.column {
	margin-left:0px;
	float:left;
	width:22%;
}

.column.first {
	margin-left:0px;
}

}
