/* Normalisation  - remove any browser specific padding and margins to start with a clean slate */
* {
	padding:0;
	margin:0;
	font-size:1rem;
}

/* General settings */
p {font-size:1rem;}
h1 {font-size:1.8rem;}

/* overall page layout starts here */
body {
	font-family:arial, verdana, helvetica 
	overflow-x:hidden; /* this is possibly a bit hacky, but stops horizontal scrolling as some sections have gone over 100%, but for now is ok. Mainly caused by me testing rem units */
}

header {
	width:100%;
	height:5rem;
	background-color:blue;
	color:#fff;
	padding-top:1rem;
	padding-left:1rem;
}

#header-inner {
	max-width:1000px;
	margin:0px auto;
}

#header-inner h1 {
	font-weight:normal;
}

main{
	width:90%;
	margin:0px auto;
	float:left;
	border:0;
}

#content { /* #content is nested in <main> */
	max-width:1000px;
	margin:0px auto;
	margin-top:1rem;
	margin-bottom:1rem;
}

/* main */
main {
	padding-left:1rem;
	padding-right:1rem;
}

footer {

	clear:both;
	width:100%;
	height:12rem;
	padding-top:10px;
	margin-top:2rem;
	float:left;
	background-color:blue;
	color:#fff;
	padding-left:1rem;

}

#footer-inner {

	margin:0px auto;
	max-width:1000px;

}

#footer-inner h1 {
	font-weight:normal;
}


