/* Normalisation  - remove any browser specific padding and margins to start with a clean slate */
* {
	padding:0;
	margin:0;
	font-size:1rem;
}

p {font-size:1rem;}
h1 {font-size:1.8rem;}

/* overall page layout */
body {
	font-family:verdana, arial, helvetica;
	overflow-x:hidden;
}

header {
	width:100%;
	height:5rem;
	background-color:blue;
	color:#fff;
	padding-top:1rem;
	padding-left:1rem;
	overflow-x:hidden;
}

#header-inner {
	max-width:1000px;
	margin:0px auto;
}

#header-inner h1 {
	font-weight:normal;
}

main{
	width:90%;
	margin:0px auto;
	float:left;
	border:0;
	overflow-x:hidden;
}

#content { /* #content is nested in <main> */
	max-width:1000px;
	margin:0px auto;
	margin-top:1rem;
	margin-bottom:1rem;
}

#columns {
	clear:both;
}

footer {

	clear:both;
	width:100%;
	height:12rem;
	padding-top:10px;
	margin-top:2rem;
	float:left;
	background-color:blue;
	color:#fff;
	padding-left:1rem;
	overflow-x:hidden;

}

#footer-inner {

	margin:0px auto;
	max-width:1000px;

}

#footer-inner h1 {
	font-weight:normal;
}

/* main */
main {
	padding-left:1rem;
	padding-right:1rem;
}

.item {
	background-color:blue;
	float:left;
	height:80px;
	margin-bottom:0.8rem;
	background-size:cover;	
	display:table-cell;
	vertical-align:middle;
	border:2px blue solid;
}

.item p {
	font-size:0.7rem;
	text-align:center;
	margin-top:5px;
}
.item p:first-child {
	margin-top:10px;
}

.double {
	width:100%;
	max-width:100%;
}

.single {
	width:47%;
	max-width:47%;
	overflow-x:hidden;

}

.itemRight{
	float:right;
}


.phone-overlay {
	display:none;
	background-color:#f1f1f1;
	height:100%;
	width:100%;
	opacity: 0.6;
	filter: alpha(opacity=60); 
}

select, select option {
	font-size:0.8rem;
}
